<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dennisshar.bulishtrade">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="celsius.a360.com.bulishtrade.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="celsius.a360.com.bulishtrade.MainActivity">
        </activity>

        <service
            android:name="celsius.a360.com.bulishtrade.service.DataPullService"
            android:exported="false"/>

        <provider
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:multiprocess="true"
            android:name="celsius.a360.com.bulishtrade.dbhelper.BulishTradeProvider"
            android:exported="true" />


        <receiver android:name="celsius.a360.com.bulishtrade.reciver.BroadCastReciver"/>

    </application>

</manifest>